/* Default start */

$active-color: #962689;

:root {
    --main-color: #103742;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Exo;
    src: url(../fonts/Exo/static/Exo-Regular.ttf);
}

@font-face {
    font-family: ExoBold;
    src: url(../fonts/Exo/static/Exo-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    color: var(--main-color);
    font-family: Roboto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s;
    &:hover {
        color: #962689;
    }
}

p {
    margin: 0;
}

.px-150 {
    padding: 0 150px;
}

.bg-white {
    background-color: #ffffff;
}

.active {
    color: $active-color;
}

/* Default end */

/* Header start */

header {
    .top-header {
        padding: 13px 0;
        border-bottom: 0.2px solid var(--main-color);
        p,
        ul li.text {
            color: var(--main-color);
            font-size: 12px;
            line-height: 14px;
        }
        ul {
            li {
                position: relative;
                padding-left: 18px;
                margin-left: 18px;
                &.begin-group::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 1px;
                    height: 20px;
                    background: var(--main-color);
                }
                i {
                    &[class$="facebook"] {
                        padding-right: 20px;
                    }
                }
            }
            img {
                margin: -13px 0;
                &.maestro-img {
                    width: 43px;
                    height: 20px;
                }
                &.visa-logo-img {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
    .middle-header {
        border-bottom: 0.2px solid var(--main-color);
        .logo {
            padding: 10px 0;
            img {
                width: 100px;
                height: 50px;
            }
        }
        nav {
            padding: 25px 0;
            ul {
                li {
                    padding-right: 35px;
                    &:last-child {
                        padding-right: 0;
                    }
                    a {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
        ul.social-media {
            padding: 20px 0;
            li {
                padding-right: 15px;
                margin-right: 15px;
                &:first-child {
                    font-family: Exo;
                    font-size: 24px;
                    line-height: 32px;
                }
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                }
                &.after-group::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 1px;
                    height: 40px;
                    background: var(--main-color);
                    margin-top: -7px;
                }
                a.social-media-icon {
                    text-align: center;
                    &.whatsapp {
                        background: #1bd741;
                    }
                    &.telegram {
                        background: #61a8de;
                        margin-right: 10px;
                    }
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    border-radius: 5px;
                    padding: 3.6px;
                    color: #ffffff;
                    i {
                        vertical-align: top;
                    }
                }
                &.user-icons {
                    a {
                        margin-right: 25px;
                        &:first-child {
                            margin-left: 10px;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .bottom-header {
        padding: 20px 0;
        border-bottom: 0.2px solid var(--main-color);
        nav {
            ul {
                li {
                    padding-right: 76px;
                    &:last-child {
                        padding-right: 0;
                    }
                    a {
                        font-size: 16px;
                        line-height: 19px;
                        i {
                            padding-left: 10px;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        .search {
            width: 200px;
            height: 30px;
            overflow: hidden;
            background: #ffffff;
            border: 0.2px solid #103742;
            border-radius: 15px;
            i {
                position: absolute;
                left: 20px;
                top: 7px;
                height: 16px;
                margin-top: -3px;
                width: 16px;
                line-height: 25px;
                color: var(--main-color);
                cursor: pointer;
            }
            input {
                width: 100%;
                height: 30px;
                outline: none;
                border: none;
                padding-left: 45px;
            }
        }
    }
}

/* Header end */

/* Main start */
main {
    .breadcrumb {
        padding: 20px 0;
        li {
            font-size: 14px;
            line-height: 16px;
            &:not(:last-child)::after {
                content: "/";
                display: inline-block;
                width: 1px;
                height: 20px;
                margin: 0 10px;
            }
            a {
                color: #a9a9a9;
                &:hover {
                    color: $active-color;
                }
            }
        }
    }

    #product-detail {
        .section-title {
            margin-bottom: 25px;
            h2 {
                font-size: 30px;
                line-height: 35px;
                margin-bottom: 5px;
            }
            p {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }

    #tab-menu {
        .menus {
            background: #ffffff;
            border: 0.2px solid #103742;
            border-radius: 5px;
            .menu {
                padding: 13px 50px;
                font-family: RobotoBold;
                font-size: 16px;
                line-height: 22px;
                cursor: pointer;
                &:first-child {
                    padding-left: 40px;
                }
                &.selected {
                    color: $active-color;
                }
            }
        }
        .contents {
            padding: 30px 0;
            .content {
                padding-top: 5px;
                h3 {
                    margin-bottom: 20px;
                    font-family: RobotoBold;
                    font-size: 18px;
                    line-height: 22px;
                }
                ul {
                    max-width: 400px;
                    li {
                        padding-bottom: 10px;
                        font-size: 14px;
                        line-height: 22px;
                        span {
                            float: right;
                            &::before {
                                content: "";
                                display: inline-block;
                                width: 15px;
                                height: 1px;
                                margin-bottom: 4px;
                                margin-right: 10px;
                                background: var(--main-color);
                            }
                        }
                    }
                }
                p {
                    margin-top: -5px;
                    font-size: 14px;
                    line-height: 22px;
                }
                .comments {
                    padding: 0 16.5px;
                    background: #ffffff;
                    .slick-slide {
                        padding-top: 48px;
                        padding-bottom: 48px;
                        margin: 0 13.5px !important;
                    }
                    .slick-prev {
                        display: none !important;
                    }
                    .slick-next {
                        display: none !important;
                    }
                    .comment {
                        position: relative;
                        padding: 25px 10px;
                        background: #ffffff;
                        border: 1px solid #e2e2e2;
                        border-radius: 10px;
                        text-align: center;
                        cursor: pointer;
                        gap: 44px;
                        .quote-icons {
                            display: flex;
                            position: absolute;
                            top: -16.38px;
                            left: 12px;
                            img {
                                width: 16.67px;
                                height: 30.24px;
                                margin-right: 2px;
                            }
                        }
                        p {
                            font-size: 12px;
                            line-height: 20px;
                            &:last-child {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
                .prev-next-icons {
                    position: relative;
                    padding-top: 20px;
                    .slick-p {
                        position: absolute;
                        right: -50px;
                        bottom: 230px;
                        border: none;
                        background: #fff;
                        &::before {
                            content: "❮" !important;
                            font-size: 25px;
                            padding: 8px 16px;
                            color: var(--main-color);
                            cursor: pointer;
                        }
                    }
                    .slick-n {
                        position: absolute;
                        right: -50px;
                        bottom: 274px;
                        border: none;
                        background: #fff;
                        &::before {
                            content: "❯" !important;
                            font-size: 25px;
                            padding: 8px 16px;
                            color: var(--main-color);
                        }
                    }
                }
            }
        }
    }

    #gifts {
        padding-top: 35px;
        padding-bottom: 35px;
        .section-title {
            padding: 0 25px;
            h3 {
                font-family: RobotoBold;
                margin-bottom: 25px;
                font-size: 24px;
                line-height: 28px;
            }
        }
        .gifts {
            .slick-slide {
                margin: 0 12.5px;
                position: relative;
            }
            .slick-next,
            .slick-prev {
                display: none !important;
            }
            .gift {
                border: 0.5px solid #e2e2e2;
                border-radius: 5px;
                max-width: 200px;
                height: 244px;
                position: relative;
                overflow: hidden;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                img {
                    display: none;
                }
                .gift-info {
                    position: absolute;
                    top: 250px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    color: #ffffff;
                    text-align: center;
                    transition: all 0.5s;
                    & > * {
                        z-index: 99;
                    }
                    h3 {
                        font-family: RobotoBold;
                        font-size: 18px;
                        line-height: 21px;
                        margin-top: 40px;
                        margin-bottom: 3px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 16px;
                        padding: 0 46px 47px 46px;
                    }
                    span {
                        font-family: RobotoBold;
                        font-size: 16px;
                        line-height: 19px;
                    }
                    &::after {
                        content: "";
                        display: inline-block;
                        background: rgba(0, 0, 0, 0.4);
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        // border: 0.5px solid #e2e2e2;
                    }
                    .gift-button {
                        margin-top: 10px;
                        a {
                            display: inline-block;
                            background: $active-color;
                            padding: 8px 27px;
                            font-size: 14px;
                            line-height: 16px;
                            color: #ffffff;
                            border-radius: 2px;
                        }
                    }
                }
                &:hover {
                    .gift-info {
                        top: 0;
                    }
                }
            }
        }
        .prev-next-icons {
            position: relative;
            padding-top: 20px;
            .slick-p {
                position: absolute;
                right: -15px;
                bottom: 193px;
                border: 1px solid #e2e2e2;
                padding: 11px;
                background: #fff;
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                &::before {
                    content: "❮" !important;
                    font-size: 16px;
                    color: var(--main-color);
                    cursor: pointer;
                }
            }
            .slick-n {
                position: absolute;
                right: -15px;
                bottom: 235px;
                border: 1px solid #e2e2e2;
                padding: 11px;
                background: #fff;
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                &::before {
                    content: "❯" !important;
                    font-size: 16px;
                    color: var(--main-color);
                }
            }
        }
    }

    #shipping-and-payment {
        margin-top: 70px;
        .section-title {
            h3 {
                font-family: RobotoBold;
                font-size: 18px;
                line-height: 22px;
            }
        }
        .shippings {
            margin-top: 38px;
            .shipping {
                margin-right: 53px;
                .img {
                    margin-bottom: 30px;
                    img {
                        width: 48.24px;
                        height: 44.96px;
                        &.bus {
                            width: 60px;
                            height: 37.95px;
                        }
                        &.flower {
                            width: 42.99px;
                            height: 43px;
                        }
                    }
                    &.box {
                        margin-bottom: 27.74px;
                    }
                }
                .description {
                    h4.title {
                        font-family: RobotoBold;
                        font-size: 18px;
                        line-height: 22px;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 22px;
                        &.second-paragraph {
                            padding-right: 10px;
                        }
                        &.third-paragraph {
                            padding-right: 11px;
                        }
                    }
                }
                &.last-shipping {
                    margin-right: 0;
                }
            }
        }
    }
}
/* Main end */

/* Media query start */
@media only screen and (max-width: 992px) {
    header {
        .middle-header {
            nav {
                ul {
                    li {
                        padding-right: 30px;
                    }
                }
            }
        }
        .bottom-header {
            .search {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    header {
        .bottom-header {
            nav {
                ul {
                    li {
                        padding-right: 40px;
                    }
                }
            }
            .search {
                input {
                    width: 100%;
                }
            }
        }
    }
}

/* Media query end */
