@charset "UTF-8";
/* Default start */
:root {
  --main-color: #103742;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Exo;
  src: url(../fonts/Exo/static/Exo-Regular.ttf);
}

@font-face {
  font-family: ExoBold;
  src: url(../fonts/Exo/static/Exo-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  color: var(--main-color);
  font-family: Roboto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s;
}

a:hover {
  color: #962689;
}

p {
  margin: 0;
}

.px-150 {
  padding: 0 150px;
}

.bg-white {
  background-color: #ffffff;
}

.active {
  color: #962689;
}

/* Default end */
/* Header start */
header .top-header {
  padding: 13px 0;
  border-bottom: 0.2px solid var(--main-color);
}

header .top-header p,
header .top-header ul li.text {
  color: var(--main-color);
  font-size: 12px;
  line-height: 14px;
}

header .top-header ul li {
  position: relative;
  padding-left: 18px;
  margin-left: 18px;
}

header .top-header ul li.begin-group::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 20px;
  background: var(--main-color);
}

header .top-header ul li i[class$="facebook"] {
  padding-right: 20px;
}

header .top-header ul img {
  margin: -13px 0;
}

header .top-header ul img.maestro-img {
  width: 43px;
  height: 20px;
}

header .top-header ul img.visa-logo-img {
  width: 48px;
  height: 48px;
}

header .middle-header {
  border-bottom: 0.2px solid var(--main-color);
}

header .middle-header .logo {
  padding: 10px 0;
}

header .middle-header .logo img {
  width: 100px;
  height: 50px;
}

header .middle-header nav {
  padding: 25px 0;
}

header .middle-header nav ul li {
  padding-right: 35px;
}

header .middle-header nav ul li:last-child {
  padding-right: 0;
}

header .middle-header nav ul li a {
  font-size: 16px;
  line-height: 19px;
}

header .middle-header ul.social-media {
  padding: 20px 0;
}

header .middle-header ul.social-media li {
  padding-right: 15px;
  margin-right: 15px;
}

header .middle-header ul.social-media li:first-child {
  font-family: Exo;
  font-size: 24px;
  line-height: 32px;
}

header .middle-header ul.social-media li:last-child {
  padding-right: 0;
  margin-right: 0;
}

header .middle-header ul.social-media li.after-group::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 40px;
  background: var(--main-color);
  margin-top: -7px;
}

header .middle-header ul.social-media li a.social-media-icon {
  text-align: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  padding: 3.6px;
  color: #ffffff;
}

header .middle-header ul.social-media li a.social-media-icon.whatsapp {
  background: #1bd741;
}

header .middle-header ul.social-media li a.social-media-icon.telegram {
  background: #61a8de;
  margin-right: 10px;
}

header .middle-header ul.social-media li a.social-media-icon i {
  vertical-align: top;
}

header .middle-header ul.social-media li.user-icons a {
  margin-right: 25px;
}

header .middle-header ul.social-media li.user-icons a:first-child {
  margin-left: 10px;
}

header .middle-header ul.social-media li.user-icons a:last-child {
  margin-right: 0;
}

header .bottom-header {
  padding: 20px 0;
  border-bottom: 0.2px solid var(--main-color);
}

header .bottom-header nav ul li {
  padding-right: 76px;
}

header .bottom-header nav ul li:last-child {
  padding-right: 0;
}

header .bottom-header nav ul li a {
  font-size: 16px;
  line-height: 19px;
}

header .bottom-header nav ul li a i {
  padding-left: 10px;
  font-size: 10px;
}

header .bottom-header .search {
  width: 200px;
  height: 30px;
  overflow: hidden;
  background: #ffffff;
  border: 0.2px solid #103742;
  border-radius: 15px;
}

header .bottom-header .search i {
  position: absolute;
  left: 20px;
  top: 7px;
  height: 16px;
  margin-top: -3px;
  width: 16px;
  line-height: 25px;
  color: var(--main-color);
  cursor: pointer;
}

header .bottom-header .search input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  padding-left: 45px;
}

/* Header end */
/* Main start */
main .breadcrumb {
  padding: 20px 0;
}

main .breadcrumb li {
  font-size: 14px;
  line-height: 16px;
}

main .breadcrumb li:not(:last-child)::after {
  content: "/";
  display: inline-block;
  width: 1px;
  height: 20px;
  margin: 0 10px;
}

main .breadcrumb li a {
  color: #a9a9a9;
}

main .breadcrumb li a:hover {
  color: #962689;
}

main #product-detail .section-title {
  margin-bottom: 25px;
}

main #product-detail .section-title h2 {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 5px;
}

main #product-detail .section-title p {
  font-size: 14px;
  line-height: 22px;
}

main #tab-menu .menus {
  background: #ffffff;
  border: 0.2px solid #103742;
  border-radius: 5px;
}

main #tab-menu .menus .menu {
  padding: 13px 50px;
  font-family: RobotoBold;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

main #tab-menu .menus .menu:first-child {
  padding-left: 40px;
}

main #tab-menu .menus .menu.selected {
  color: #962689;
}

main #tab-menu .contents {
  padding: 30px 0;
}

main #tab-menu .contents .content {
  padding-top: 5px;
}

main #tab-menu .contents .content h3 {
  margin-bottom: 20px;
  font-family: RobotoBold;
  font-size: 18px;
  line-height: 22px;
}

main #tab-menu .contents .content ul {
  max-width: 400px;
}

main #tab-menu .contents .content ul li {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
}

main #tab-menu .contents .content ul li span {
  float: right;
}

main #tab-menu .contents .content ul li span::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 1px;
  margin-bottom: 4px;
  margin-right: 10px;
  background: var(--main-color);
}

main #tab-menu .contents .content p {
  margin-top: -5px;
  font-size: 14px;
  line-height: 22px;
}

main #tab-menu .contents .content .comments {
  padding: 0 16.5px;
  background: #ffffff;
}

main #tab-menu .contents .content .comments .slick-slide {
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 0 13.5px !important;
}

main #tab-menu .contents .content .comments .slick-prev {
  display: none !important;
}

main #tab-menu .contents .content .comments .slick-next {
  display: none !important;
}

main #tab-menu .contents .content .comments .comment {
  position: relative;
  padding: 25px 10px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  gap: 44px;
}

main #tab-menu .contents .content .comments .comment .quote-icons {
  display: flex;
  position: absolute;
  top: -16.38px;
  left: 12px;
}

main #tab-menu .contents .content .comments .comment .quote-icons img {
  width: 16.67px;
  height: 30.24px;
  margin-right: 2px;
}

main #tab-menu .contents .content .comments .comment p {
  font-size: 12px;
  line-height: 20px;
}

main #tab-menu .contents .content .comments .comment p:last-child {
  margin-bottom: 10px;
}

main #tab-menu .contents .content .prev-next-icons {
  position: relative;
  padding-top: 20px;
}

main #tab-menu .contents .content .prev-next-icons .slick-p {
  position: absolute;
  right: -50px;
  bottom: 230px;
  border: none;
  background: #fff;
}

main #tab-menu .contents .content .prev-next-icons .slick-p::before {
  content: "❮" !important;
  font-size: 25px;
  padding: 8px 16px;
  color: var(--main-color);
  cursor: pointer;
}

main #tab-menu .contents .content .prev-next-icons .slick-n {
  position: absolute;
  right: -50px;
  bottom: 274px;
  border: none;
  background: #fff;
}

main #tab-menu .contents .content .prev-next-icons .slick-n::before {
  content: "❯" !important;
  font-size: 25px;
  padding: 8px 16px;
  color: var(--main-color);
}

main #gifts {
  padding-top: 35px;
  padding-bottom: 35px;
}

main #gifts .section-title {
  padding: 0 25px;
}

main #gifts .section-title h3 {
  font-family: RobotoBold;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 28px;
}

main #gifts .gifts .slick-slide {
  margin: 0 12.5px;
  position: relative;
}

main #gifts .gifts .slick-next,
main #gifts .gifts .slick-prev {
  display: none !important;
}

main #gifts .gifts .gift {
  border: 0.5px solid #e2e2e2;
  border-radius: 5px;
  max-width: 200px;
  height: 244px;
  position: relative;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

main #gifts .gifts .gift img {
  display: none;
}

main #gifts .gifts .gift .gift-info {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  transition: all 0.5s;
}

main #gifts .gifts .gift .gift-info > * {
  z-index: 99;
}

main #gifts .gifts .gift .gift-info h3 {
  font-family: RobotoBold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 40px;
  margin-bottom: 3px;
}

main #gifts .gifts .gift .gift-info p {
  font-size: 14px;
  line-height: 16px;
  padding: 0 46px 47px 46px;
}

main #gifts .gifts .gift .gift-info span {
  font-family: RobotoBold;
  font-size: 16px;
  line-height: 19px;
}

main #gifts .gifts .gift .gift-info::after {
  content: "";
  display: inline-block;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

main #gifts .gifts .gift .gift-info .gift-button {
  margin-top: 10px;
}

main #gifts .gifts .gift .gift-info .gift-button a {
  display: inline-block;
  background: #962689;
  padding: 8px 27px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  border-radius: 2px;
}

main #gifts .gifts .gift:hover .gift-info {
  top: 0;
}

main #gifts .prev-next-icons {
  position: relative;
  padding-top: 20px;
}

main #gifts .prev-next-icons .slick-p {
  position: absolute;
  right: -15px;
  bottom: 193px;
  border: 1px solid #e2e2e2;
  padding: 11px;
  background: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #gifts .prev-next-icons .slick-p::before {
  content: "❮" !important;
  font-size: 16px;
  color: var(--main-color);
  cursor: pointer;
}

main #gifts .prev-next-icons .slick-n {
  position: absolute;
  right: -15px;
  bottom: 235px;
  border: 1px solid #e2e2e2;
  padding: 11px;
  background: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #gifts .prev-next-icons .slick-n::before {
  content: "❯" !important;
  font-size: 16px;
  color: var(--main-color);
}

main #shipping-and-payment {
  margin-top: 70px;
}

main #shipping-and-payment .section-title h3 {
  font-family: RobotoBold;
  font-size: 18px;
  line-height: 22px;
}

main #shipping-and-payment .shippings {
  margin-top: 38px;
}

main #shipping-and-payment .shippings .shipping {
  margin-right: 53px;
}

main #shipping-and-payment .shippings .shipping .img {
  margin-bottom: 30px;
}

main #shipping-and-payment .shippings .shipping .img img {
  width: 48.24px;
  height: 44.96px;
}

main #shipping-and-payment .shippings .shipping .img img.bus {
  width: 60px;
  height: 37.95px;
}

main #shipping-and-payment .shippings .shipping .img img.flower {
  width: 42.99px;
  height: 43px;
}

main #shipping-and-payment .shippings .shipping .img.box {
  margin-bottom: 27.74px;
}

main #shipping-and-payment .shippings .shipping .description h4.title {
  font-family: RobotoBold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

main #shipping-and-payment .shippings .shipping .description p {
  font-size: 14px;
  line-height: 22px;
}

main #shipping-and-payment .shippings .shipping .description p.second-paragraph {
  padding-right: 10px;
}

main #shipping-and-payment .shippings .shipping .description p.third-paragraph {
  padding-right: 11px;
}

main #shipping-and-payment .shippings .shipping.last-shipping {
  margin-right: 0;
}

/* Main end */
/* Media query start */
@media only screen and (max-width: 992px) {
  header .middle-header nav ul li {
    padding-right: 30px;
  }
  header .bottom-header .search {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  header .bottom-header nav ul li {
    padding-right: 40px;
  }
  header .bottom-header .search input {
    width: 100%;
  }
}

/* Media query end */
/*# sourceMappingURL=style.css.map */